.container {
  max-width: 1080px;
  width: 100%;
  margin: 4rem auto 2rem auto;
  padding: 0 1.25rem;

  h2 {
    margin: 2rem 0;
  }
}

.profile {
  display: flex;
  margin-bottom: 4rem;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 2rem;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 125%;
  }

  span {
    display: inline-block;
    color: var(--gray-500);
    margin: 0.5rem 0 1rem;
  }

  @media (max-width: 520px) {
    flex-direction: column;

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 2rem;
    }
  }
}

.posts {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    li {
      list-style: none;
      height: 130px;
    }
  }

  @media (max-width: 1020px) {
    ul {
      grid-template-columns: repeat(2, 1fr);

      li {
        height: 90px;
      }
    }
  }

  @media (max-width: 520px) {
    ul {
      grid-template-columns: 1fr;
    }
  }
}

.info {
  li {
    list-style: none;
    padding-left: 1rem;

    & + li {
      margin-top: 1rem;
    }
  }
}
