.container {
  padding: 2rem 0;
  border-bottom: 1px solid var(--gray-100);
}

.content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;

  strong {
    cursor: pointer;
    color: var(--gray-900);
    font-size: 1.5rem;
  }
}
